.page-header{
    background-color: #017e01;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}
.emp-table{
    border: 1px solid;
    width: 100%;
}

.emp-table td svg{
    color: black;
    max-width: 40px;
}
.emp-table th{
    height: 70px;
    background-color:#43dd64;
}
.emp-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.emp-table th,
.emp-table td{
    padding: 10px;
}
.emp-table{
    border: 1px solid;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.top-menu svg {
    max-width: 40px;
    -webkit-filter: invert(90%);
    filter: invert(90%);
}
.yes-button {
    float: left;
    padding: 4px;
    
}

.yes-button a {
    background-color: rgb(255, 89, 60);
    text-decoration: none;
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
}
.no-button {
    float: left;
    padding: 4px;
    margin-left: 5px;
}

.no-button a {
    background-color: rgb(30, 117, 248);
    text-decoration: none;
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
}