{% extends 'emp_reg/base.html' %}

{% block content %}
<!-- {% if user.is_authenticated %} -->

        <form action="{% url 'emp_list' %}" method="get" class="search">
        <input name="q" type="text" placeholder="Search...">
        </form>
        <table class = emp-table>
            <tr>
                <th><a href="?order_by=emp_id">ID</a></th>
                <th><a href="?order_by=first_name">Full Name</a></th>
                <th><a href="?order_by=email">Email</a></th>
                <th><a href="?order_by=department">Department</a></th>
                <th><a href="?order_by=role">Role</a></th>
                <th><a href="?order_by=join_date">Date Joined</a></th>
                <th></th>

            </tr>
            {% for emps in emp %}
                <tr>
                    <td>{{ emps.emp_id|linebreaksbr }}</td>
                    <td>{{ emps.first_name|linebreaksbr  }} {{ emps.last_name|linebreaksbr }}</td>
                    <td>{{ emps.email|linebreaksbr }}</td>
                    <td>{{ emps.department|linebreaksbr }}</td>
                    <td>{{ emps.role|linebreaksbr }}</td>
                    <td>{{ emps.join_date|date:"d-m-Y"}}</td>
                    <td>
                        <a href="{% url 'emp_edit' pk=emps.pk %}">
                            {% include './icons/pencil-fill.svg' %}
                        </a>
                        <a href="{% url 'emp_remove' pk=emps.pk %}">
                            {% include './icons/trash.svg' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class = dustbin>
        <button onclick="window.location= 'emp/deleted-record';">
                            {% include './icons/recycle.svg' %} Recycle Bin
        </button>
        </div>
<!-- {% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %} -->
{% endblock %}
    
