{% extends 'emp_reg/base.html' %}
{% block content %}
        <form action="{% url 'emp_del_list' %}" method="get" class="search">
        <input name="q" type="text" placeholder="Search...">
        </form>
        <table class = emp-table>
            <tr>
                <th><a href="?order_by=emp_id">ID</a></th>
                <th><a href="?order_by=first_name">Full Name</a></th>
                <th><a href="?order_by=email">Email</a></th>
                <th><a href="?order_by=department">Department</a></th>
                <th><a href="?order_by=role">Role</a></th>
                <th><a href="?order_by=join_date">Date Joined</a></th>
                <th></th>

            </tr>
            {% for emps in emp %}
                <tr>
                    <td>{{ emps.emp_id|linebreaksbr }}</td>
                    <td>{{ emps.first_name|linebreaksbr  }} {{ emps.last_name|linebreaksbr }}</td>
                    <td>{{ emps.email|linebreaksbr }}</td>
                    <td>{{ emps.department|linebreaksbr }}</td>
                    <td>{{ emps.role|linebreaksbr }}</td>
                    <td>{{ emps.join_date|date:"d-m-Y"}}</td>
                    <td>
                        <a href="{% url 'emp_restore' pk=emps.pk %}">
                            Restore Back
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}