{% extends 'emp_reg/base.html' %}
{% block content %}
        <table class = emp-table>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Role</th>
                <th>Date Joined</th>
            </tr>
            {% for emps in emp %}
                <tr>
                    <td>{{ emps.first_name|linebreaksbr  }} {{ emps.last_name|linebreaksbr }}</td>
                    <td>{{ emps.email|linebreaksbr }}</td>
                    <td>{{ emps.department|linebreaksbr }}</td>
                    <td>{{ emps.role|linebreaksbr }}</td>
                    <td>{{ emps.join_date|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
    
