{% extends 'emp_reg/emp_home.html' %}

{% block employee %}
    <h2>Edit Password</h2>
    <form method="POST" action="{% url 'update_password' %}">
        {% csrf_token %}
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div style="margin: 5px;">
            <input type="password" name="new_password1" placeholder="New password"/>
        </div>
        <div style="margin: 5px;">
            <input type="password" name="new_password2" placeholder="Confirm New Password" />
        </div>
        <button type="submit" class="save btn btn-secondary">Update</button>
    </form>

    <style>
        .logout {
            display: none;
        }
    </style>
    
{% endblock %}

{% block admin %}
    <h2>Edit Password</h2>
    <form method="POST" action="{% url 'update_password' %}">
        {% csrf_token %}
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div style="margin: 5px;">
            <input type="password" name="new_password1" placeholder="New password"/>
        </div>
        <div style="margin: 5px;">
            <input type="password" name="new_password2" placeholder="Confirm New Password" />
        </div>
        <button type="submit" class="save btn btn-secondary">Update</button>
    </form>

    <style>
        .logout {
            display: none;
        }
    </style>
    
{% endblock %}